<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Event List</h1>
    <table>
        <tr>
            <th>event_name</th>
             <th>event_venue</th>
            <th>event_description</th>
            <th> event_duration</th>
            <th>event_link</th>
            <th>attendees</th>
            
        </tr>
        {% for event in events %}
        <tr>
            <td>{{event.event_name}}</td>
            <td>{{event.event_venue}}</td>
            <td>{{event.event_description}}</td>
            <td>{{event.event_duration}}</td>
            <td>{{event.event_link}}</td>
            <td>{{event.attendees}}</td>
           
        </tr>
        {%endfor%}
    </table>
<style>
    h1{
        font-size:28px ;
        color:purple;
         margin-left: 25%;
    }
   
table, td, th {  
border: 3px solid rgb(175, 23, 162);
text-align: left;
}

table {
border-collapse: collapse;
width: 100%;

}

th, td {
padding: 15px;
}
</style>
    
</body>
</html>