<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Courses List</h1>
    <table>
        <tr>
            <th>course_name</th>
            <th>course_code</th>
            <th>course_description</th> 
            <th> course_channel</th> 
            
            
      </tr>
        {% for course in courses %}
        <tr>
            <td>{{course.course_name}}</td>
            <td>{{course.course_code}}</td>
            <td>{{course.course_description}}</td>
            <td>{{course.course_channel}}</td>
           
        </tr>
        {%endfor%}
    </table>
<style>
    h1{
        font-size: 28px;
        margin-left:15% ;
        color: purple;
    }
table, td, th {  
border: 3px solid rgb(175, 23, 162);
text-align: left;
text-align: center;
}

table {
border-collapse: collapse;
width: 100%;

}

th, td {
padding: 15px;
}
</style>
    
</body>
</html>