<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <div id="navbar">
        <h1>Welcome to school System</h1>
        <li>
            <ul>Home</ul>
            <ul>Student</ul>
            <ul>Trainer</ul>
            <ul>courses</ul>
            <ul>Events</ul>
            <ul>Calender</ul>

        </li>
        

<style>
    body{
    background-color: rgb(58, 14, 54); 
     }
    ul{
        font-size: 26px;
        color: cornsilk;
    }
     h1{
         color: cornsilk;
     }
    
</style>
</body>
</html>